.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0rem 3rem;

    .content {
        width: 600px;
        margin-top: -4rem;

        h1 {
            padding: 1rem 0rem;
            font-weight: 200;
            font-size: 2.5rem;
            text-align: center;
            color: var(--white);
            background-color: var(--gray-900);
            font-family: 'Exo 2' !important;
        }

        h3 {
            font-family: minhaFonte !important;
            font-size: 7rem;
            font-weight: 400;
            text-align: center;
            color: var(--gray-850);

            margin-top: -2rem;
        }

        p {
            width: 550px;
            font-size: 1.5rem;
            font-weight: 200;
            text-align: justify;
            font-family: 'Exo 2' !important;
        }
    }

    .imagem {
        img {
            width: 600px;
            margin-left: -2rem;
        }
    }
}

